@media (max-width:1440px) {

    #first-p2 {
        width: 100%;
        height: auto;
        margin-left: 10px;
    }

}

@media (min-width: 1024px) and (max-width: 1439px) {
    #first-p {
        width: 100%;
        height: auto;
    }

    #text-box p {
        font-size: 15px;
    }

    #three-img img {
        width: 270px;
        height: 300px;
    }

    .three-box {
        width: 400px;
        height: 200px;

    }

    .Section-four {
        width: 100%;
        height: 250px;
    }

    #services {
        margin-top: 20px;
    }
}

@media (max-width: 1023px) and (min-width:768px) {
    #top-bar {
        display: none;
    }

    #box-1 {
        width: 100%;
        height: 400px;
    }

    #first-p2 {
        display: none;
    }

    .text-box {
        width: 500px;
        height: 200px;
    }

    #plant img {
        width: 360px;
        height: 360px;

    }

    #list ul {
        font-size: 18.6px;
    }

    #three-img-3 {
        margin-top: -100px;
        margin-right: 320px;
    }

    #three-img-2 {
        margin-top: 220px;
    }

    .three-box {
        width: 300px;
        height: 150px;

    }

    .three-box h3 {
        font-size: 25px;
    }

    .three-box p {
        font-size: 14px;
    }

    .three-box button {
        width: 140px;
        height: 40px;
    }

    #box-3-img img {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 350px;
        height: 350px;
    }

    .Section-four {
        width: 100%;
        height: 250px;
    }

    #services {
        width: 360px;
    }

    #services {
        margin-top: 20px;
    }
}

@media (max-width: 767px) and (min-width:425px) {
    #top-bar {
        display: none;
    }

    #first-p2 {
        display: none;
    }

    .text-box {
        width: 300px;
        height: 100px;
        margin-bottom: 100px;
    }

    #box-1 {
        width: 100%;
        height: 245px;
    }

    #text-box h2 {
        font-size: 18px;
        font-weight: 500px;
    }

    #plant {
        justify-content: center;
    }

    #plant img {
        width: 340px;
        height: 340px;
    }

    #list ul {
        font-size: 20.6px;
    }

    #three-img-3 {
        margin-top: 10px;
    }

    #three-img-2 {
        margin-top: 10px;
    }

    .three-box {
        width: 370px;
        height: 250px;

    }

    .three-box p {
        font-size: 16px;
    }

    #box-3-img img {
        width: 400px;
        height: 370px;
    }

    .Section-four {
        height: 400px;
    }

    #services {
        width: 360px;
    }

    #services {
        margin-top: 30px;
    }

    .section-six .col-md-3 {
        padding: 15px;

    }

    .social img {
        width: 360px;
        height: 35px;
    }
    #foot{
        display: none;
    }
}
@media (max-width: 424px) and (min-width:375px) {
    #top-bar {
        display: none;
    }

    #first-p2 {
        display: none;
    }

    #box-1 {
        background-blend-mode: hue;
        height: 300px;
    }

    #text-box h2 {
        font-size: 20px;
    }

    .text-box {
        width: 250px;
        height: 70px;
        margin-bottom: 100px;
    }

    #plant {
        justify-content: center;
    }

    #plant img {
        width: 300px;
        height: 300px;
    }

    #list ul {
        font-size: 18.6px;
    }

    #three-img-3 {
        margin-top: 10px;
    }

    #three-img-2 {
        margin-top: 10px;
    }

    .three-box {
        width: 320px;
        height: auto;
    }

    #box-3-img img {
        width: 300px;
        height: 300px;
    }

    .Section-four {
        height: 400px;
    }

    #services {
        width: 360px;
    }

    #services {
        margin-top: 30px;
    }

    .section-six .col-md-3 {
        padding: 15px;
    }

    .social img {
        width: 310px;
        height: 35px;
    }
    #foot{
        display: none;
    }
}

@media (max-width: 374px) and (min-width:320px) {
    #top-bar {
        display: none;
    }

    #box-1 {
        background-blend-mode: hue;
        height: 300px;
    }

    #first-p2 {
        display: none;
    }

    #text-box h2 {
        font-size: 20.8px;
    }

    .text-box {
        width: 250px;
        height: 70px;
        margin-bottom: 100px;
    }

    .text-box button {
        width: 100px;
        height: 30px;
        font-size: 18px;
    }

    #plant {
        justify-content: center;
    }

    #plant img {
        width: 300px;
        height: 300px;
    }

    #list ul {
        font-size: 18.6px;
    }

    #three-img-3 {
        margin-top: 10px;
    }

    #three-img-2 {
        margin-top: 10px;
    }

    .three-box {
        width: 400px;
        height: 250px;
        /* text-align: center; */

    }

    #box-3-img img {
        width: 300px;
        height: 300px;
    }

    .Section-four {
        height: 400px;
    }

    #services {
        width: 360px;
    }

    #services {
        margin-top: 30px;
    }

    .section-six .col-md-3 {
        padding: 15px;

    }

    .social img {
        width: 250px;
        height: 25px;
    }

    .section-eight .contact input {
        width: 100px;
        height: 50px;
        padding-left: 10px;
    }

    .section-eight .contact button {
        width: 10px;
        height: 50px;
        font-size: 10px;
    }
    #foot{
        display: none;
    }
    .contact-2 input{
        width: 200px;
        height: 35px;
        padding-left: 8px;
    }
  
}