* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.section-bar {
    height: 49px;
    border: 1px solid #537749;
    background-color: #CEE49D;
    display: flex;
    align-items: center;
}

.section-bar .bar {
    gap: 50px;
    justify-content: center;
}

.section-bar h5 {
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.section-bar .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Header */
#navbr {
    height: 100px;
    display: flex;
    font-size: 20px;
}

#navbar form {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

#navbar ul {
    display: flex;
    gap: 25px;
}

#navbar .nav-link {
    color: black;
    font-weight: 500;
    font-size: 20px;
}

.header img {
    margin-right: 50px;
}

.header {
    display: flex;
    justify-content: center;

}

.header form {
    display: flex;
    margin-left: 100px;
}

.navbar-brand {
    margin-right: 1000px;
}

#serch input {
    width: 536px;
    height: 45px;
    border: 2px solid #537749;
    display: flex;
    padding-left: 20px;
}

#serch input::placeholder {

    color: #537749;
}

#serch {
    display: flex;
    justify-content: center;
}


/* Section One */
.section-one {
    width: 100%;
    height: auto;
    background-color: #EBEBEB;
    display: flex;
}

#box-1 {
    display: flex;
    background-image: url(./Imgs/Rectangle\ 31-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: end;
    align-items: center;
}

#first-p2 {
    width: 100%;
    height: 600px;
}


.text-box {
    width: 650px;
    height: 200px;
}

.text-box button {
    width: 130px;
    height: 45px;
    border: 3px solid #537749;
    color: #537749;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

#text-box h2 {
    font-weight: 700;
    font-size: 40px;
}

#text-box p {
    font-size: 15px;
    font-weight: 500
}

/* Section Two */

.section-two {
    background-image: url(./Imgs/image\ 12.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-two h3 {
    text-align: center;
}

.section-two ul {
    list-style: none;
    font-size: 24px;
    font-weight: 500;
}

#plant img {
    width: 450px;
    height: 450px;

}

#plant {
    display: flex;
    justify-content: flex-end;
}

#list {
    display: flex;
    align-items: center;
    line-height: 50px;
}

#three-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

#three-img img {
    width: 300px;
    height: 330px;
}

#three-img-2 {
    margin-top: 45px;
}

#three-img-3 {
    margin-top: 90px;
}

/* Section three */

.section-three {
    width: 100%;
    height: auto;
    background-image: url(./Imgs/image.png);
    background-position: center left bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.three-box {
    width: 450px;
    height: 200px;

}

.three-box h3 {
    font-size: 32px;
}

.three-box p {
    font-size: 14px;
}

.three-box button {
    width: 150px;
    height: 45px;
    background-color: transparent;
    border: 3px solid #537749;
}

#box-three {
    display: flex;
    justify-content: end;
    align-items: center;
}

#box-3-img {
    display: flex;
    justify-content: center;
}

/*Section Four  */
.Section-four {
    width: 100%;
    height: 120px;
    background-color: #CEE49D;
    display: flex;
    align-items: center;

}

.Section-four .row {
    display: flex;
    justify-content: center;
}

#services {
    display: flex;
    gap: 10px;
    width: 400px;
    height: 80px;
    cursor: pointer;

}

.service p {
    font-size: 14px;
}

#services i {
    font-size: 45px;
}

/* Section Five */
.section-five {
    width: 100%;
    text-align: center;
    background-image: url(./Imgs/section-five.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.arrivels {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    gap: 40px;
    flex-wrap: wrap;
}

.arrivels h5 {
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
}

.arrivels-1 img {
    width: 240px;
    height: auto;
    margin: auto;
}

.section-six {
    width: 100%;
    height: auto;
    background-color: #CEE49D;

}

.section-six .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-six .col-md-3 {
    display: flex;
    justify-content: center;

}

.plant-verity {
    text-align: center;
}

/* Section seven */
.section-seven {
    width: 100%;
}

.section-seven .card {
    background-color: #CEE49D;
    padding: 15px;
    width: 350px;
    height: 400px;
}

.section-seven .card h5 {
    font-size: 15px;
    font-weight: 700;
}

.section-seven .card p {
    font-size: 12.8px;
}

.section-seven .col-md-12 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.section-eight{
    width: 100%;
    height: auto;
 text-align: center;
}
.section-eight .contact{
    display: flex;
    justify-content: center;
}
.section-eight .contact input{
    width: 450px;
    height: 50px;
    border:3px solid #537749;
    border-right: none;
    padding-left: 50px;
    color: #537749;
}

.section-eight .contact button{
    width: 200px;
    height: 50px;
    border:3px solid #537749;
    background-color:  transparent;
    font-size: 20px;
    color: #537749;
}
.social img{
    width: 450px;
    height: 40px;
}
/* Footer */
.footer{
    background-color: #CEE49D;
    width: 100%;
}

.footer .col-md-12{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
}
.foot-box1{
    width: 300px;
    height: auto; 
    color: #537749    ;
}
.foot-box1 h5{
    font-weight: 700;
    color: #223200;
}
.foo{
    width: 200px;
    height: auto;
    align-items: start;
}
.foot-box1 ul{
    list-style: none;
    line-height: 35px;
    padding: 0px;
    font-size: 18px;
}
.foot-box1 p{
    font-size: 17px;
}
.contact-2 input{
    height: 35px;
    border: none;
    padding-left: 8px;
}
.contact-2 button{
    width: 85px;
    height: 35px;
    border: none;
    background-color: #537749;
    color: #CEE49D;
    font-size: 15px;
    cursor: pointer;
}